@import url('https://fonts.googleapis.com/css2?family=Newsreader:wght@200&display=swap');
* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

h1 {
    text-align: center;
    margin: 12px 0;
}

.myForm {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.myInput {
    font-size: 16px;
    width: 40%;
    border: 2px solid rgb(119, 104, 104);
    border-radius: 10px;
    padding: 9px;
    outline: none;
    margin: 10px;
}

.container {
    min-height: 72vh;
    margin: 40px 0
    /* justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center; */
}

.container h1 {
    font-family: 'Newsreader', serif;
    font-size: 34px;
}

.btn {
    padding: 8px 26px;
    font-size: 18px;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 12px;
    margin: 23px;
    color: white;
    background: rgb(238, 49, 49);
    cursor: pointer;
    outline: none;
}